<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MO: Members Only</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="/javascripts/index.js" defer></script>
  </head>
  <body>
    <nav class="main-nav">
      <ul>
        <li>
          <h1>MO</h1>
        </li>
        <li class="create">
          <button aria-label="create post" id="create-post" type="button">
            <img src="/images/plus.svg" alt="" /> Create
          </button>
        </li>
        <li class="menu">
          <button type="button">
            <img class="menu-icon" src="/images/burger.svg" alt="" />
          </button>
          <ul class="dropdown" aria-label="submenu">
            <button type="button">Join</button>
            <button type="button">Log out</button>
          </ul>
        </li>
      </ul>
    </nav>
    <main>
      <div class="posts">
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
            tempora aliquid adipisci nisi, aut maiores voluptate cupiditate
            voluptas, aperiam in, mollitia nemo debitis beatae a veniam. Aut,
            illo maiores odit perferendis dolores fugit accusamus cum, obcaecati
            molestias ut non deserunt unde tempora debitis rem exercitationem
            molestiae, quisquam quibusdam. Hic?
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
            tempora aliquid adipisci nisi, aut maiores voluptate cupiditate
            voluptas, aperiam in, mollitia nemo debitis beatae a veniam. Aut,
            illo maiores odit perferendis dolores fugit accusamus cum, obcaecati
            molestias ut non deserunt unde tempora debitis rem exercitationem
            molestiae, quisquam quibusdam. Hic?
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
            molestias ut non deserunt unde tempora debitis rem exercitationem
            molestiae, quisquam quibusdam. Hic?
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
            tempora aliquid adipisci nisi, aut maiores voluptate cupiditate
            voluptas, aperiam in, mollitia nemo debitis beatae a veniam. Aut,
            illo maiores odit perferendis dolores fugit accusamus cum, obcaecati
            molestias ut non deserunt unde tempora debitis rem exercitationem
            molestiae, quisquam quibusdam. Hic?
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            voluptas, aperiam in, mollitia nemo debitis beatae a veniam. Aut,
            illo maiores odit perferendis dolores fugit accusamus cum, obcaecati
            molestias ut non deserunt unde tempora debitis rem exercitationem
            molestiae, quisquam quibusdam. Hic?
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
            tempora aliquid adipisci nisi, aut maiores voluptate cupiditate
            voluptas, aperiam in, mollitia nemo debitis beatae a veniam. Aut,
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
            tempora aliquid adipisci nisi, aut maiores voluptate cupiditate
            voluptas, aperiam in, mollitia nemo debitis beatae a veniam. Aut,
            illo maiores odit perferendis dolores fugit accusamus cum, obcaecati
            molestias ut non deserunt unde tempora debitis rem exercitationem
            molestiae, quisquam quibusdam. Hic?
          </p>
        </article>
        <article class="post">
          <header>
            <p class="username">Anon</p>
            <p class="timestamp">17hrs ago</p>
          </header>
          <p class="title">Title of the post</p>
          <p class="description">
            Post description describing the post in a more detailed way. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Recusandae animi
          </p>
        </article>
      </div>
    </main>
    <div class="dialogs">
      <dialog id="create-post-dialog">
        <form method="dialog">
          <section class="field">
            <label for="title">Title</label>
            <input type="text" id="title" />
          </section>
          <section class="field">
            <label for="description">Description</label>
            <textarea name="description" id="description"></textarea>
          </section>
          <button>Post</button>
        </form>
      </dialog>
    </div>
  </body>
</html>
