<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MO: Members Only</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <nav class="main-nav">
      <ul>
        <li>
          <h1>MO</h1>
        </li>
        <li>
          <button type="button">+ Create</button>
        </li>
        <li class="menu">
          <button type="button">Menu</button>
          <ul class="dropdown">
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ul>
        </li>
      </ul>
    </nav>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, incidunt.
      Laboriosam, maxime aspernatur architecto atque, itaque ut pariatur ab
      accusantium facere, nesciunt ducimus consequuntur unde neque eius quos.
      Sit repellendus iusto eligendi, dolor similique corporis? Neque nam minus
      laborum, praesentium perspiciatis incidunt, modi sapiente fugit fuga optio
      officiis in sequi. Soluta dolores vel sit a voluptatem nobis quae,
      accusantium molestiae suscipit, modi vitae ipsum blanditiis dignissimos
      corporis! Commodi voluptatem, totam quod ratione obcaecati error accusamus
      incidunt neque quam odio voluptatum iusto libero laborum possimus
      necessitatibus eum exercitationem. Minus sed suscipit nemo, consectetur
      officia repellendus labore, in ipsa ut quia doloremque cumque consequatur
      repellat soluta distinctio aliquam molestiae laborum ab vero, itaque rerum
      quod voluptate. Neque cumque molestiae natus asperiores beatae, eum
      assumenda, facere expedita, repellat eveniet suscipit voluptates at
      deleniti aspernatur temporibus voluptas ab. Blanditiis natus corporis
      incidunt fuga error nam exercitationem, maiores temporibus architecto
      impedit, vero aperiam quisquam sapiente sit rerum laboriosam ab eligendi
      reprehenderit asperiores odit. Iusto delectus suscipit et nulla saepe
      accusamus ipsum repellat obcaecati aperiam, quas ab, ex officia molestiae
      voluptate, incidunt voluptatem corporis dolorem unde laudantium fuga.
      Recusandae iusto voluptatem obcaecati ratione excepturi provident quae
      animi cum, deleniti eum laudantium blanditiis voluptate, exercitationem
      laboriosam atque dolorum id optio quod ipsum commodi accusamus
      perferendis. Quas minima ex molestiae repellat. Adipisci nostrum
      consequatur omnis, est repellendus rerum ad culpa maiores at inventore qui
      placeat veritatis totam ex ducimus numquam quia eos quaerat! Natus neque
      aliquid ab incidunt corrupti nemo harum cumque voluptate laboriosam
      eligendi? Optio, nobis corrupti in blanditiis minima ut tempore quaerat
      totam architecto perspiciatis hic odit maxime perferendis aperiam sit
      voluptatem eos laboriosam, earum ad. Omnis laborum accusantium eaque
      reprehenderit ullam, consectetur aperiam labore rem sequi excepturi, qui
      officiis. Voluptate voluptatibus non, possimus, recusandae ipsam
      perspiciatis odio eum cupiditate nesciunt perferendis numquam maiores quos
      velit repellat soluta, cum eveniet fugit! Dolorem cum perferendis nobis
      ipsum dolores vitae nesciunt voluptates, quam omnis blanditiis veniam
      possimus temporibus sequi officiis rerum quidem tempora similique ratione
      corrupti quibusdam molestias id iste itaque! Veniam maiores placeat fuga
      quod molestias? Culpa praesentium magnam, alias odit quidem voluptate
      voluptates ducimus dolore aut consequuntur ad iste id vel ipsam. Quos
      accusamus, ipsum laboriosam natus possimus nostrum vel animi nesciunt!
      Voluptate illo earum itaque maxime cum totam excepturi quia amet, nobis
      vero pariatur iusto velit veniam modi nulla at magni hic! Doloremque,
      incidunt, animi quibusdam et quisquam beatae similique dignissimos nihil
      odio ducimus autem perspiciatis deserunt impedit at earum quod assumenda
      nesciunt voluptates pariatur voluptatem vitae? Ab eveniet nisi quis odit
      libero eligendi nihil explicabo odio corporis minus alias neque id
      recusandae quod voluptatum consequatur, deserunt ea porro? Dolor, saepe
      nostrum sint dicta tempore facere, accusamus neque amet, commodi
      exercitationem temporibus in? Consequuntur, quam labore natus dolore
      deleniti quod quibusdam quidem quo sapiente maxime tempore ipsa voluptatum
      nisi reprehenderit eligendi. Ipsa facilis veritatis odit rem sint, aliquid
      nostrum eligendi. Necessitatibus nisi id soluta distinctio eos alias!
      Quis, a? Aspernatur, aliquam iure. Velit vel voluptas numquam, ducimus
      consequatur dignissimos ea voluptate non rem omnis, temporibus itaque
      amet. Voluptates eligendi, provident ullam voluptatum aliquam repudiandae
      dolores aliquid consequatur et illo natus, pariatur minus vel rerum
      deserunt corrupti. Quaerat, porro, optio minus aliquam cupiditate
      laudantium enim beatae fuga modi quod vitae ratione obcaecati sit velit
      distinctio similique voluptatum soluta, rem commodi perferendis nemo magni
      nobis sunt. Ipsam voluptatibus aspernatur dolore error doloribus eos
      nesciunt aperiam nobis aliquam magni odio facilis voluptatem, asperiores
      porro ratione saepe velit numquam quibusdam officiis ab quis? Delectus
      atque facilis commodi optio dolorem modi necessitatibus quis tempore eum.
      At aliquam ipsam commodi nobis reiciendis iste obcaecati molestiae
      perferendis! Repellat dolorem necessitatibus quibusdam laboriosam sunt
      consequuntur impedit expedita at, ex est consectetur harum accusamus
      fugiat quidem exercitationem asperiores similique optio maiores esse
      voluptates officia vero molestiae. Expedita qui facere blanditiis
      sapiente, voluptatibus perspiciatis? Possimus, nemo. Sed nesciunt
      exercitationem explicabo odio, facilis enim sequi dolore eum, alias quas
      incidunt sapiente totam suscipit neque iste recusandae harum? Totam
      doloremque, tempora aut repudiandae repellat sit fugiat reiciendis quaerat
      eum architecto labore! Nostrum eligendi labore necessitatibus voluptates
      dolorem placeat facilis. Obcaecati sit accusantium molestias tenetur
      labore. Vitae, reprehenderit unde sed eum modi harum, sunt fuga quo quas
      dolore doloremque. Error maxime explicabo repudiandae nesciunt culpa
      voluptates, quia id, deleniti quisquam ducimus voluptate aliquid ullam
      recusandae aut? Iste, perspiciatis, velit minus maiores magni quae nulla
      voluptates quia impedit vel hic sunt dolorum ex distinctio, dicta itaque
      voluptatibus animi voluptas enim cumque. Culpa expedita tempore repellat
      magnam suscipit dolore odio, eos ut impedit adipisci accusamus? Reiciendis
      dicta eligendi quasi sit placeat, excepturi rem eum deleniti veritatis
      culpa, molestiae amet ipsum nemo iusto consequuntur! Eveniet cupiditate
      temporibus sapiente, excepturi doloribus cumque harum neque quo quisquam,
      exercitationem et quibusdam repellat quasi dignissimos error! Quia ullam
      soluta eligendi quo mollitia corporis reiciendis sed debitis quis fugit
      nobis, rem aspernatur saepe odio nulla repellendus totam cum ipsum dolor
      itaque commodi? Dolor repellat perspiciatis eius, perferendis est iste
      illum ea adipisci eaque, quisquam, esse tempora deserunt? Tenetur eum
      nobis veniam est expedita distinctio sequi iure cupiditate vitae maiores
      quos, cumque, natus facilis similique ut, rem aperiam? Aspernatur
      voluptatum enim ad, fugiat beatae exercitationem esse repudiandae
      repellendus nostrum? Omnis vero assumenda veritatis aspernatur soluta
      placeat doloribus quis exercitationem minus aperiam earum rem, ratione
      tempore ullam iusto, magni ex inventore laudantium pariatur nobis modi qui
      similique alias debitis. Laboriosam quos, distinctio consectetur saepe
      reiciendis beatae? Quasi officia corrupti voluptatibus tempora
      necessitatibus aut quam minima commodi neque ex? Ipsa nemo eligendi
      repudiandae corrupti tenetur mollitia minima voluptatibus adipisci dicta,
      at repellat ratione necessitatibus illo voluptatem ad, itaque, non
      voluptas. Doloremque eius amet, placeat nulla ad architecto qui. Ipsam
      aspernatur quod, adipisci pariatur maxime harum sit perspiciatis quia
      nihil nulla quae enim molestiae hic voluptatibus natus placeat facere
      consequatur? Soluta beatae corrupti veritatis distinctio sequi! Molestias
      hic nisi autem! Corporis a, iure officiis, eaque ea soluta beatae totam
      voluptas non nesciunt explicabo nam deleniti reprehenderit quidem et
      nobis. Nostrum quo ea consequatur eaque neque nesciunt beatae enim error
      qui. Est corporis dolorem impedit quam provident harum sit id tenetur.
    </p>
  </body>
</html>
