<nav class="main-nav">
  <ul>
    <li>
      <h1>MO</h1>
    </li>
    <li class="create">
      <button aria-label="create post" id="create-post" type="button">
        <img src="/images/plus.svg" alt="" /> Create
      </button>
    </li>
    <li class="menu">
      <button type="button">
        <img class="menu-icon" src="/images/burger.svg" alt="" />
      </button>
      <ul class="dropdown" aria-label="submenu">
        <button type="button">Join</button>
        <button id="logout-button" type="button">Log out</button>
      </ul>
    </li>
  </ul>
</nav>
