<nav class="main-nav">
  <ul>
    <li>
      <h1>MO</h1>
    </li>
    <% if(!isPublic){%>
    <li class="create">
      <button aria-label="create post" id="create-post" type="button">
        <img src="/images/plus.svg" alt="" /> Create
      </button>
    </li>
    <%}%>
    <li class="menu">
      <button type="button">
        <img class="menu-icon" src="/images/burger.svg" alt="" />
      </button>
      <ul class="dropdown" aria-label="submenu">
        <% if(isPublic){%>
        <a class="item" href="/auth/login">Login</a>
        <a class="item" href="/auth/signup">Signup</a>
        <%}else{%>
        <button class="item" id="logout-button" type="button">Log out</button>
        <%}%> <%if(!isPublic && !isVerified){%>
        <button class="item" id="join-button" type="button">Join</button>
        <%}else if(isVerified){%>
        <button class="item" id="become-admin-button" type="button">
          Become Admin
        </button>
        <%}%>
      </ul>
    </li>
  </ul>
</nav>
