<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MO: Members Only</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index/main-public.css" />
    <link rel="stylesheet" href="/stylesheets/index/public.css" />
  </head>
  <body>
    <%- include('main_nav',{isPublic:true,isVerified:false}) %>
    <main>
      <div class="posts">
        <%for(const post of posts){%>
        <article class="post">
          <p class="title"><%=post.title%></p>
          <p class="description"><%=post.description%></p>
        </article>
        <%}%>
      </div>
    </main>
    <div class="dialogs"><%- include('common_dialogs') %></div>
  </body>
</html>
