<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MO: Members Only</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/index/main.css" />
    <link rel="stylesheet" href="/stylesheets/index/unverified.css" />
    <script src="/javascripts/index/main.js" defer></script>
    <script src="/javascripts/index/unverified.js" defer></script>
  </head>
  <body>
    <%- include('main_nav') %>
    <main>
      <div class="posts">
        <%for(const post of posts){%>
        <article class="post">
          <p class="title"><%=post.title%></p>
          <p class="description"><%=post.description%></p>
        </article>
        <%}%>
      </div>
    </main>
    <div class="dialogs">
      <%- include('common_dialogs') %>
      <dialog id="join-dialog">
        <form method="dialog">
          <section class="field">
            <label for="passcode">Enter secret passcode to join</label>
            <input type="text" required id="passcode" name="passcode" />
          </section>
          <div class="action-buttons">
            <button
              formmethod="post"
              id="submit-join-form-button"
              formaction="/join"
            >
              Join
            </button>
            <button formnovalidate>Cancel</button>
          </div>
        </form>
      </dialog>
    </div>
  </body>
</html>
