<dialog id="post-detail-dialog">
  <form method="dialog">
    <article class="post-detail">
      <% if(isVerified){%>
      <header>
        <p class="username"></p>
        <p class="timestamp"></p>
      </header>
      <%}%>
      <p class="title"></p>
      <p class="description"></p>
    </article>
    <div class="action-buttons">
      <button id="close-post-detail-dialog">Close</button>
      <% if(isAdmin){%>
        <button id="delete-post">Delete</button>
      <%}%>
    </div>
  </form>
</dialog>