main {
  min-block-size: 100vh;
  background-color: var(--surface);
  display: grid;
  place-content: center;
  padding-inline: var(--padding-medium);
}
form {
  display: grid;
  place-content: center;
  background-color: var(--surface-container);
  padding: var(--padding-medium);
  border-radius: var(--radius-medium);
}

.field {
  display: grid;
  gap: var(--margin-x-small);
  align-items: center;
}

.field > label {
  font-weight: bold;
}

.field > input {
  border-radius: var(--radius-x-small);
  padding: var(--padding-x-small);
  padding-inline-start: 1ch;
  background-color: var(--surface-container-highest);
  color: var(--on-surface);
  border: 0.1rem solid var(--outline-variant);
}

.field > input:hover,
.field > input:focus {
  border: 0.1rem solid var(--on-surface);
}
.field > input:focus {
  outline: none;
}

.action-buttons {
  justify-self: center;
  margin-block-start: var(--margin-small);
}

.action-buttons > button {
  margin-inline-end: var(--margin-medium);
  background-color: var(--primary);
  border-radius: var(--radius-x-small);
  color: var(--on-primary);
  border: none;
}

.action-buttons > button,
.action-buttons > a {
  padding: var(--padding-x-small) var(--padding-small);
  font-size: inherit;
}
.action-buttons > a {
  color: var(--secondary);
}
.action-buttons > a:hover {
  text-decoration: none;
}
.message {
  background-color: var(--error-container);
  color: var(--on-error-container);
  padding: var(--padding-small);
  border-radius: var(--radius-x-small);
  display: flex;
  align-items: center;
  gap: var(--margin-small);
}

.message > img {
  width: 1.5rem;
  height: 1.5rem;
}

@media screen and (prefers-color-scheme: light) {
  .message > img {
    filter: invert(4%) sepia(54%) saturate(7355%) hue-rotate(350deg)
      brightness(96%) contrast(104%);
  }
}

@media screen and (prefers-color-scheme: dark) {
  .message > img {
    filter: invert(98%) sepia(4%) saturate(3541%) hue-rotate(296deg)
      brightness(100%) contrast(103%);
  }
}

.errors {
  background-color: var(--error-container);
  color: var(--on-error-container);
  border-radius: var(--radius-x-small);
  display: grid;
  justify-content: center;
}
.errors > ul {
  padding-inline: var(--padding-small);
  display: flex;
  flex-direction: column;
  gap: var(--margin-small);
}
.error {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: var(--margin-x-small);
  max-width: var(--line-width-max-medium);
}
.error > img {
  width: 1.25em;
  height: 1.25em;
  align-self: flex-start;
}

.validation-message {
  min-height: var(--margin-medium);
  font-size: var(--font-size-small);
  color: var(--error);
  visibility: hidden;
  max-width: var(--line-width-max-medium);
}

.field > input:user-invalid {
  border-color: var(--error);
}
.field > input:user-invalid + .validation-message {
  visibility: visible;
}
