.main-nav > ul {
  grid-template-columns: auto auto;
}

.dropdown > .item {
  text-decoration: none;
  color: inherit;
}
.post {
  padding: var(--padding-small);
}
.post .title {
  padding-inline: var(--padding-small);
  font-weight: bold;
}
